$ cat .gitignore

# ----- exclude everything
/*
!/.gitignore
!/makefile

# ----- Exclude all src except cpp, c, hpp, and h files
!/src
src/*
!src/*.cpp
!src/*.c
!src/*.hpp
!src/*.h

# ----- Bring in LinAlg
!/src/LinAlg
src/LinAlg/*
!/src/LinAlg/*.cpp
!/src/LinAlg/*.hpp
!/src/LinAlg/makefile

# ----- Bring in Calculus
!/src/Calculus
src/Calculus/*
!/src/Calculus/*.cpp
!/src/Calculus/*.hpp
!/src/Calculus/makefile

# ----- Bring in DataStructs
!/src/DataStructs
src/DataStructs/*
!/src/DataStructs/*.cpp
!/src/DataStructs/*.hpp
!/src/DataStructs/makefile

# ----- Stats
!/src/Stats
src/Stats/*
!/src/Stats/*.cpp
!/src/Stats/*.hpp
!/src/Stats/makefile


# ----- Excluda all test files except .cpp
!/test
test/*
!test/*.cpp
